body{
	/*normally zero everything out*/
	margin:0;
	padding:0;
	font-family: 'Archivo Narrow', sans-serif;
	font-size:18px;

}
.header {
	background-image: url("../images/fall-tree-2.jpg"); /*since you are trying to reference images from an images folder outside of the css folder the ../ goes up a higherarchy level*/
	background-size: cover;
	height:480px;
 	background-repeat: no-repeat;
	/*background-color: rgba(255,0,0,.5);*/
}
header{
	padding-top:163px;
	padding-bottom:100;
	text-align: center;
	color:white;
	
}
header h1{
	font-size:80px;
	margin-top:0;
	margin-bottom:13px;
}
header h2{
	font-size:30px;
	margin-top: 0;
	color:white;
}
section.second{
	background-color:rgb(60,205,100);
	height:712px;
}
.title{
	padding-top: 44px;
	font-size:40px;
	text-align: center;
	font-weight: bold;
	color:white;
}
#containerOne{
	width:958px;
	margin:0 auto;
}
p {
	line-height: 24.5px;
	padding-top:19px;
	text-align:left;
	color: black;

}
#one{
 	padding-top:4px;
}
#two{
	padding-top: 0px;
}
#image1 {
	padding-top:21px;
	padding-bottom: 21px;
	padding-left:41px;
	width:400px;
	height:300px;
	float: right;
}
section.third{
	background-color: rgb(0,100,0);
	height:685px;
}
.thirdbox{
	/*background-color: rgba(100,0,0,.3);*/
	margin:0 auto;
	width:959px;
	height:500px;
	margin-top:39px;
}
.left{
	float:left;
	width:50%;
	height:33.4%;
	/*background-color: rgba(0,0,200,.1);*/
	padding-bottom: 8px;

}
.right{
	/*background-color: rgba(0,200,0,.1);
*/	width:50%;
	height: 33.4%;
	float:right;
	padding-bottom: 8px;
}
.gridimages{
	width:197px;
	height:149px;
	padding-bottom:10px;
}
.descript{
	float:right;
	width:268px;
	height:149px;
}
.ptitle{
	text-align: left;
	font-size:20px;
	font-weight:bold;
}
.phototext{
	margin-top:0;
	padding-top:10px;
	width:210px;
}
.fourth{
	background-color: rgb(139,20,0);
	height:401px;
}
.fourth .title{
	padding-top:47px;
}
.fourth p{
	padding-top:39px;
	margin:0 auto;
	width:713px;
	font-size:26px;
	line-height: 35px;
	text-align: center;
}
#copy{
	padding-top:44px;
	font-size: 19px;
	margin:0 auto;
	width:1000;

}


