body, html{
	margin:0 0 0 0;
	padding:0 0 0 0;
	height:100%;
	color: white;
	font-weight:lighter;
	/*font-family: 'Sunflower', sans-serif;*/
	font-size:18px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}
.on_page{
	font-weight: bold;
	color: rgb(52, 123, 181);
}
#mobile_home{
	display: none;
}
.menu{
	display:none;
}
nav.open{
	left:0;
}
.menu.open2{
	right:10%;
	background-color:rgba(0,0,0,.01);
}
.nav_bar{
	display: inline-block;
	width:19%;
	margin: 0 0 0 0;
}
a{
	display:inline-block;
	vertical-align: top;
	padding-top:16px;
	text-decoration: none;
	color:white;
	text-align: left;	
}
a:hover{
 color: rgb(34,97,148);
}

nav{
	font-size:18px;
	width:100%;
	position:fixed;
	top:0;
	height: 63px;
	background-color:rgba(0,0,0,.8);
	box-shadow:        0px 2px 15px 14px rgba(0, 0, 0, .8)

}
footer{
	width:100%;
	font-size: 12.5px;
	position:absolute;
	bottom: 0;
	background-color:black;
	box-shadow: 0px -12px 16px 0px rgba(0, 0, 0, 1);

}
#footer{
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top:6px;
}
.source{
	text-decoration: underline;
	color:rgb(34,97,148);
	display:inline;
}
.source:hover{
	text-decoration: none;
	/*text-decoration: underline;*/
	color: white;
}
.icon{
	height: 42px;
	padding-left:8px;
	padding-top:8px;
	padding-right:3px;
}
#title{
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Aldrich', sans-serif;
    position:absolute;
    font-size:80px;
    bottom:10%;
    left:4%;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}
#image{
	display:block;
	height:100%;
	position: relative;
	background-image: url("../home_1.jpg");
	background-size:cover;
	background-position: left;
	width:100%;
}
@media(max-width: 590px){
	.icon{
		height: 35px;
	}
	.nav_bar{
		display: block;
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 17px;
		border-bottom: 1px solid #999;
		width:92%;
	}
	nav{
		padding-top:40px;
		display: block;
		left:-100%;
		width:100%;
		height: 333px;
		box-shadow: none;
		transition:all 1s;
		z-index:10;
	}
	#desk_home{
		display: none;
	}
	#mobile_home{
		display:block;
	}
	div.nav_bar{
		display:none;
	}
	.menu{
		z-index: 20;
		position:fixed;
		display:block;
		background-color:rgba(0,0,0,.8);
		top:0px;
		padding-bottom: 10px;
		padding-right: 5px;
		transition:all 1s;
	}
	.fa.hide{
		display:none;
	}
	.fa{
		vertical-align: top;
		font-weight: lighter;
		z-index:10;
		font-size: 22px;
		padding-top: 6px;
		padding-left: 14px;
		color:rgba(34,97,148,1);
		display:block;
	}
	.fa:hover{
		color:white;
	}

	#mobile_icon{
		/*z-index: 20;*/
		display:inline-block;
		padding-top:10px;
		transition: all 1s;
		
	}
	#image{
	width:100%;
	background-image: url("../home_1.jpg");
	background-size:cover;
	background-position: center;
}
	#title{
    font-size:50px;
    padding-left:5%;
    bottom:10%;
    left:2%;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}
	#footer{
		font-size:10px;
		padding-right:8px;
	}
}