
#one{
	background-image: url("../fire_2.jpg");
	background-size: 100% 250px;
	background-repeat: no-repeat;
}
div.title {
	font-family: 'Cabin Sketch', cursive;
	font-size: 50px;
	text-align: left;
	padding-top: 175px;
	padding-left: 3%; 
	width:100%;
	color: rgba(242, 242, 242, 1);
	line-height: 47px;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.85);
}
#two{
/*	background-color: rgba(112, 79, 3, .3);*/
	height: 161px;
	padding-top:30px;
	width:80%;
	margin:0 auto;
}
.descript{
	color:black;
	text-align:center;
	/*padding: 30px 10% 0px 10%;*/
	line-height: 22px;
}
.bars{
	background-image: url("../chocolate_1.jpg");
	background-size: 100%;
	height: 75px;
	margin-top:0px;
	background-repeat: no-repeat;
}
.image{
	height:200px;
	background-image: url("../smore-bars_2.jpg");
	background-size: cover;
	background-position: top;
}
.header{
	clear:both;
	font-size:34px;
	margin: 8px 5% 8px 2%;

}
.subheader{
	font-weight: normal;
	font-size:18px;
	/*margin: 8px 5% 8px 42px;*/
}
li{
	margin: 0px 5% 0px 2%;
	line-height: 22px;
}
em{
	font-style: normal;
	font-weight: normal;
	font-size:18px;
}
.info{
	/*margin:0 auto;*/
	width:40%;
	display:inline-block;
	float:left;
	text-align: center;
	margin: 12px 5% 8px 5%;
	text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
	color:white;
}
#cooking{
	margin:0 auto;
	height: 70px;
	/*background-color:rgba(0, 0, 0, .6);*/
	margin-left:23%;
	margin-right:23%;
}
#people{
	margin:0 auto;
	height: 70px;
	/*background-color:rgba(0, 0, 0, .6);
*/	width: 190px;
}
body {
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size:14px;
 	font-weight: lighter;
}
