body, html{
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size:32px;
	height:100%;
	text-shadow: 5px 2px 11px rgba(0, 0, 0, 0.66);
}
.image{
	display:block;
	height:100%;
	position: relative;
	background-image: url("../swanson_outside.jpg");
	background-size:cover;
	background-position: center;
/*	width:100%;*/
}
.gradient{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

/*background: -webkit-linear-gradient(left, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 8%,rgba(0,0,0,0.25) 31%,rgba(0,0,0,0.1) 51%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); 
background: linear-gradient(to right, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 8%,rgba(0,0,0,0.25) 31%,rgba(0,0,0,0.1) 51%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#00000000',GradientType=1 ); */

background: -moz-linear-gradient(left, rgba(0,0,0,0.43) 0%, rgba(0,0,0,0.43) 17%, rgba(0,0,0,0.25) 45%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0) 100%); 
background: -webkit-linear-gradient(left, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 17%,rgba(0,0,0,0.25) 45%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%); 
background: linear-gradient(to right, rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 17%,rgba(0,0,0,0.25) 45%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#00000000',GradientType=1 ); 
}
#quote{
	position:absolute;
	top: 15%;
	left: 8%;
	width: 32%;
}
.swanson{
	position:absolute;
	bottom: 4%;
	right:8%;
}
a{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
@media (max-width: 1340px){
	#quote{
		font-size: 32px;
		width:38%;
		top:18%;
	}
}
@media (max-width: 900px){
	#quote{
		font-size: 28px;
	}
}
@media (max-width: 800px){
	#quote{
		font-size: 26px;
	}
}
@media (max-width: 640px){
	#quote{
		font-size: 24px;
		top: 14%;
	}
}
@media (max-width: 520px){
	#quote{
		font-size: 22px;
		top:12%;
		width: 40%;
	}
}
@media (max-width: 420px){
	#quote{
		font-size: 19px;
		top:10%;
		width: 40%;
	}
}
@media (max-width: 380px){
	#quote{
		font-size:18px;
		top:6%;
		width:40%;
	}
}