body, html{
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size:32px;
	height:100%;
	text-shadow: 5px 2px 11px rgba(0, 0, 0, 0.66);
}
.image{
	display:block;
	height:100%;
	position: relative;
	background-image: url("../swanson_1.jpg");
	background-size:cover;
	background-position: center;

}
#quote{
	position:absolute;
	top: 15%;
	left: 8%;
	width: 27%;
	z-index:100;
}
.swanson{
	position:absolute;
	bottom: 15%;
	right:8%;
	z-index:100;
}
#gradient{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.1) 58%, rgba(0,0,0,0.25) 72%, rgba(0,0,0,0.51) 96%, rgba(0,0,0,0.51) 100%); 
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.1) 58%,rgba(0,0,0,0.25) 72%,rgba(0,0,0,0.51) 96%,rgba(0,0,0,0.51) 100%); 
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.1) 58%,rgba(0,0,0,0.25) 72%,rgba(0,0,0,0.51) 96%,rgba(0,0,0,0.51) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#82000000',GradientType=0 ); 
}
a{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;

}
@media(max-width: 1370px){
	#quote{
		top:13%;
	}
}
@media(max-width: 1200px){
	#quote{
		font-size: 30px;
		top: 11%;
		left: 4%;
		width: 23%;
	}
@media(max-width: 1030px){
	#quote{
		font-size:28px;
	}
}
@media(max-width: 880px){
	#quote{
		text-shadow: 5px 2px 30px rgba(0, 0, 0, 1);
		font-size:26px;
		left: 43%;
		top: 55%;
		width: 38%;
	}
}
@media(max-width: 880px){
	#quote{
		text-shadow: 5px 2px 30px rgba(0, 0, 0, 1);
		font-size: 23px;
		left: 43%;
		top: 55%;
		width: 46%;
	}
	.swanson{
		font-size:26px;
		text-shadow: 5px 2px 30px rgba(0, 0, 0, 1);
	}
}
@media(max-width: 430px){
	#quote{
	    top: 53%;
	    left: 30%;
	    font-size: 20px;
	    width: 55%;
	}
}
